menu "RMT_LED_STRIP Configuration"
    config RMT_TX_GPIO
        int "RMT TX GPIO"
        default 48
        help
            Set the GPIO number used for transmitting the RMT signal.

    config STRIP_RESOLUTION_HZ
        int "STRIP_RESOLUTION_HZ"
        default 10000000
        help
            Set the strip resolution for the RMT signal. 10MHz resolution, 1 tick = 0.1us (led strip needs a high resolution)
endmenu
